<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="goodModule">
	<resultMap id="GoodResultMap" type="com.bupt.xrf.entity.Good">
		<id column="gid" property="gid" jdbcType="VARCHAR" />
		<result column="code" property="code" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="findidbycode" resultType="String">
		select gid from good where code = #{gcode}
	</select>


</mapper>