<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="reqgoodModule">
	<resultMap id="ReqGoodResultMap" type="com.bupt.xrf.entity.ReqGood">
		<id column="rgid" property="rgid" jdbcType="VARCHAR" />
		<result column="amount" property="amount" jdbcType="INTEGER" />
		<result column="totalamount" property="totalamount" jdbcType="INTEGER" />
		<association property="good" javaType="com.bupt.xrf.entity.Good" column="gid">
			<id column="gid" property="gid" jdbcType="VARCHAR" />
			<result column="code" property="code" jdbcType="VARCHAR" />
			<result column="unit" property="unit" jdbcType="VARCHAR" />
			<result column="gname" property="gname" jdbcType="VARCHAR" />
			<result column="kind" property="kind" jdbcType="VARCHAR" />
			<result column="weight" property="weight" jdbcType="FLOAT" />
		</association>
		<association property="requirement" javaType="com.bupt.xrf.entity.Requirement" column="rid">
			<id column="rid" property="rid" jdbcType="VARCHAR" />
			<result column="batch" property="batch" jdbcType="VARCHAR" />
			<result column="deadline" property="deadline" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	
	<select id="findbypage" resultMap="ReqGoodResultMap">
		select * from requirement_good rg LEFT JOIN requirement r
			on rg.rid = r.rid
			LEFT JOIN good g
			on rg.gid = g.gid
	</select>
	
	<select id="countall" resultType="int">
		select count(*) from requirement_good
	</select>
	
	<insert id="addreqgood" parameterType="java.util.Map">
		insert into requirement_good(rgid,rid,gid,amount,totalamount)  
             values(#{rgid},#{rid},#{gid},#{totalamount},#{totalamount})  
	</insert>
	
	<delete id="emptyreqgood">
		delete from requirement_good
	</delete>
	
	<update id="setamount">
		UPDATE requirement_good
		SET amount = totalamount*0.8
	</update>
	
	<select id="findbyrid" resultMap="ReqGoodResultMap">
		select * from requirement_good rg LEFT JOIN requirement r
			on rg.rid = r.rid
			LEFT JOIN good g
			on rg.gid = g.gid
			where rg.rid = #{rid}
	</select>
	
	<select id="countallbyrid" resultType="int">
		select count(*) from requirement_good where rid = #{rid}
	</select>
	
</mapper>