<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="whparkvehicleModule">
	<resultMap id="WhParkVehicleResultMap" type="com.bupt.xrf.entity.WhParkVehicle">
		<id column="wpvid" property="wpvid" jdbcType="VARCHAR" />
		<result column="useamount" property="useamount" jdbcType="INTEGER" />
		<association property="warehouse" javaType="com.bupt.xrf.entity.Warehouse" column="wid">
			<id column="wid" property="wid" jdbcType="VARCHAR" />
			<result column="wname" property="wname" jdbcType="VARCHAR" />
			<result column="coordinate" property="coordinate" jdbcType="VARCHAR" />
			<result column="location" property="location" jdbcType="VARCHAR" />
			<result column="type" property="type" jdbcType="VARCHAR" />
			<result column="ascription" property="ascription" jdbcType="VARCHAR" />
			<result column="contact" property="contact" jdbcType="VARCHAR" />
			<result column="number" property="number" jdbcType="VARCHAR" />
			<result column="transportation" property="transportation" jdbcType="VARCHAR" />
			<result column="tool" property="tool" jdbcType="VARCHAR" />
		</association>
		<association property="logpark" javaType="com.bupt.xrf.entity.Logpark" column="pid">
			<id column="pid" property="pid" jdbcType="VARCHAR" />
			<result column="p_name" property="p_name" jdbcType="VARCHAR" />
			<result column="p_coordinate" property="p_coordinate" jdbcType="VARCHAR" />
			<result column="p_location" property="p_location" jdbcType="VARCHAR" />
			<result column="p_master" property="p_master" jdbcType="VARCHAR" />
			<result column="p_contact" property="p_contact" jdbcType="VARCHAR" />
			<result column="p_power" property="p_power" jdbcType="INTEGER" />
			<result column="totaluse" property="totaluse" jdbcType="INTEGER" />
		</association>
		<association property="vehicle" javaType="com.bupt.xrf.entity.Vehicle" column="vid">
			<id column="vid" property="vid" jdbcType="VARCHAR" />
			<result column="v_name" property="v_name" jdbcType="VARCHAR" />
			<result column="v_power" property="v_power" jdbcType="INTEGER" />
			<result column="v_cost" property="v_cost" jdbcType="INTEGER" />
			<result column="v_unit" property="v_unit" jdbcType="VARCHAR" />
			<result column="v_type" property="v_type" jdbcType="VARCHAR" />
		</association>
	</resultMap>
	
	<!-- 有问题 -->
	<select id="findlogbywh" resultMap="WhParkVehicleResultMap">
		select * from warehouse_park_vehicle wpv LEFT JOIN warehouse w
			on wpv.wid = w.wid
			LEFT JOIN logpark p
			on wpv.pid = p.pid
			LEFT JOIN vehicle v
			on wpv.vid = v.vid
			where wpv.wid = #{wid}
	</select>
	
	<select id="countfindlogbywh" resultType="int">
		select count(distinct(pid)) from warehouse_park_vehicle where wid = #{wid}
	</select>
	
	<select id="ifexistwpv" resultType="int">
		select count(*) from warehouse_park_vehicle wpv LEFT JOIN warehouse w
			on wpv.wid = w.wid
			LEFT JOIN logpark p
			on wpv.pid = p.pid
			LEFT JOIN vehicle v
			on wpv.vid = v.vid
			where wpv.wid = #{wid} and wpv.pid = #{pid} and wpv.vid = #{vid}
	</select>
	
	<insert id="insertnewwpv" parameterType="java.util.Map">
		insert into warehouse_park_vehicle(wpvid,wid,pid,vid,useamount)  
             values(#{wpvid},#{wid},#{pid},#{vid},#{count})  
	</insert>
	
	<update id="updateuseamount" parameterType="java.util.Map">
		update warehouse_park_vehicle 
		set useamount=#{count}
		where wid=#{wid} and pid=#{pid} and vid=#{vid}
	</update>
	
	<delete id="deletewpv" parameterType="java.util.Map">
		delete from warehouse_park_vehicle 
		where wid=#{wid} and pid=#{pid} and vid=#{vid}
	</delete>
	
</mapper>